{% extends 'blog/base.html' %}
<!-- NOT USED -->
<!-- THis is the form related to the login_view i created in the view.py of blog -->
{% block body_block %}
    <h1>Login:</h1>
    <form method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password">    
        {% csrf_token %}
        <input type="submit" value="Login">
    </form>
    {% if error_msg %}
        <p>{{error_msg}}</p>
    {% endif %}
{% endblock %}
